@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

@keyframes loadingBarBgGradientAnimation {
    0% {
        background-position: 0% 15%;
    }

    50% {
        background-position: 100% 86%;
    }

    100% {
        background-position: 0% 15%;
    }
}

@keyframes menuTopClose {
    0% {
        top: calc(50% - 1px);
        transform: rotate(45deg);
    }

    50% {
        top: 50%;
        transform: rotate(0);
    }

    100% {
        top: 0;
    }
}

@keyframes menuBottomClose {
    0% {
        bottom: 50%;
        transform: rotate(-45deg);
    }

    50% {
        bottom: 50%;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
    }
}

@keyframes menuTopOpen {
    50% {
        top: 50%;
        transform: rotate(0);
    }

    100% {
        top: calc(50% - 2px);
        transform: rotate(45deg);
    }
}

@keyframes menuBottomOpen {
    50% {
        bottom: 50%;
        transform: rotate(0);
    }

    100% {
        bottom: 50%;
        transform: rotate(-45deg);
    }
}

.custom_header_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;

    .custom-loading-bar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(90deg, #08D698 0.05%, #3050E5 37.85%, #B66CFF 68.42%, #FC8DBB 99.96%);
        background-size: 200% 100%;
        animation: loadingBarBgGradientAnimation 8s ease infinite;
        /* opacity: 0; */
    }

    .custom-header-main {

        /* Header */
        .custom-header {
            background: #fff;
            border-bottom: 1px solid grey;

            .custom-header-container {
                max-width: 1340px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 84px;

                .custom-header-logo {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .logo-img {
                        display: flex;
                        width: 32px;
                        aspect-ratio: 1/1;
                    }

                    .logo-text {
                        display: flex;

                        span {
                            font-family: 'Inter';
                            font-size: 18.39px;
                            font-weight: 600;
                            line-height: 33px;
                            color: #000;
                        }
                    }
                }

                .custom-header-content {
                    display: flex;

                    .custom-header-menu {
                        &>ul {
                            display: flex;
                            list-style: none;
                            align-items: center;
                            gap: 24px;

                            &>li {
                                position: relative;
                                padding: 0 4px;

                                &::before {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    background: #161616;
                                    height: 1px;
                                    bottom: -5px;
                                    left: 0;
                                    right: 0;
                                    position: absolute;
                                    transform: scale(0, 1);
                                    transition: all .3s ease;
                                    transform-origin: left;
                                    border-radius: 4px;
                                }

                                &:hover::before {
                                    transform: scale(1, 1);
                                }

                                a {
                                    text-decoration: none;
                                }

                                &>a>span,
                                &>div>a>span {
                                    display: flex;
                                    font-family: 'Inter';
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 20.88px;
                                    letter-spacing: -0.20999999344348907px;
                                    text-align: left;
                                    color: #161616;
                                }

                                &.sub-menu-item {
                                    &>div>a {
                                        display: flex;
                                        align-items: center;
                                        gap: 6px;

                                        i {
                                            font-size: 12px;
                                            transition: all .3s ease;
                                            color: #161616;
                                        }
                                    }

                                    &.service-menu-toggle-btn {
                                        &.active {
                                            &>div>a i {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }

                                    &.popup-items {
                                        display: flex;
                                        justify-content: center;
                                        height: 42px;
                                        align-items: center;

                                        &>.sub-menu {
                                            background: grey;
                                            display: block;
                                            position: absolute;
                                            width: 100px;
                                            top: 40px;
                                            border-radius: 4px;
                                            border: 1px solid #61758080;
                                            background: #fff;
                                            transition: all .3s ease;
                                            transform: translateY(30px);
                                            opacity: 0;
                                            z-index: 3;

                                            &>ul {
                                                list-style: none;

                                                &>li {
                                                    width: 100%;

                                                    &:not(:first-child) {
                                                        border-top: 1px solid #61758080;
                                                    }

                                                    a {
                                                        font-family: 'Roboto';
                                                        font-size: 16px;
                                                        font-weight: 500;
                                                        line-height: 24px;
                                                        text-align: left;
                                                        color: #161616;
                                                        text-align: center;
                                                        width: 100%;
                                                        display: block;
                                                        padding: 10px 0;

                                                        span {
                                                            max-width: max-content;
                                                            position: relative;

                                                            &::before {
                                                                content: '';
                                                                left: 0;
                                                                right: 0;
                                                                bottom: -4px;
                                                                position: absolute;
                                                                height: 1px;
                                                                border-top: 1px solid #BD03F7;
                                                                transform-origin: left;
                                                                transform: scale(0, 1);
                                                                transition: all .3s ease;
                                                            }
                                                        }

                                                        &:hover {
                                                            span {
                                                                &::before {
                                                                    transform: scale(1, 1);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &:hover {
                                            &>div>a i {
                                                transform: rotate(180deg);
                                            }

                                            &>.sub-menu {
                                                /* background: grey; */
                                                display: block;
                                                transform: translateY(0px);
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .big-menu {
                        display: flex;
                        align-items: center;
                        margin-left: 40px;
                        padding: 8px 10px;
                        cursor: pointer;
                        aspect-ratio: 1/1;
                        border-radius: 6px;
                        border: 2px solid transparent;
                        transition: all .3s ease;

                        .toggle-btn {
                            position: relative;
                            width: 26px;
                            height: 14px;
                            cursor: pointer;

                            span {
                                position: absolute;
                                display: block;
                                width: 26px;
                                height: 2px;
                                border-top: 2px solid #000;

                                &:first-child {
                                    top: 0;
                                    left: 0;
                                    animation: menuTopClose .5s both;
                                }

                                &:last-child {
                                    bottom: 0;
                                    left: 0;
                                    animation: menuBottomClose .5s both;
                                }
                            }
                        }

                        &.active {
                            position: relative;
                            z-index: 99;
                            border-color: white;

                            .toggle-btn {
                                span {
                                    border-color: white;

                                    &:first-child {
                                        animation: menuTopOpen .5s both;
                                    }

                                    &:last-child {
                                        animation: menuBottomOpen .5s both;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* Services Sub Menu */
        .custom-services-sub-menu {
            height: 285px;
            background: #fff;
            position: fixed;
            width: 100%;
            z-index: 2;
            transform: translateY(-400px);
            display: none;
            transition: all .5s ease;

            &.show {
                display: block;
            }

            &.anim {
                transform: translateY(0);
                opacity: 1;

                .services-sub-menu-overlay {
                    opacity: 1;
                }
            }

            .services-sub-menu-overlay {
                display: block;
                position: fixed;
                background: rgba(0, 0, 0, 0.053);
                height: calc(1000vh);
                backdrop-filter: blur(2px);
                z-index: -1;
                top: 285px;
                left: 0;
                right: 0;
                opacity: 0;
                transition: all .3s ease;
            }

            &::before {
                content: '';
                right: 0;
                left: 0;
                height: 10px;
                bottom: 0;
                position: absolute;
                height: 6px;
                background: linear-gradient(90deg, #08D698 0.05%, #3050E5 37.85%, #B66CFF 68.42%, #FC8DBB 99.96%);
                background-size: 200% 100%;
                animation: loadingBarBgGradientAnimation 8s ease infinite;
            }

            .custom-sub-menu-container {
                height: 100%;
                max-width: 1340px;
                width: 100%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 2fr 3fr;

                .service-description-area {
                    border-right: 1px solid #656E7A80;
                    display: flex;
                    align-items: center;

                    .services-desc-content {
                        width: 320px;
                        margin: 0 30px 0 auto;

                        .title {
                            display: flex;
                            align-items: end;
                            gap: 10px;
                            border-bottom: 1px solid #CBD2D9;
                            padding-bottom: 10px;
                            margin-bottom: 16px;

                            img {
                                width: 20px;
                                margin-bottom: 3px;
                            }

                            h3 {
                                font-family: 'Poppins';
                                font-size: 15px;
                                font-weight: 600;
                                /* line-height: 31.2px; */
                                letter-spacing: -0.36000001430511475px;
                                color: #161616;
                            }
                        }

                        .desc {
                            p {
                                font-family: 'DM Sans';
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: -0.36000001430511475px;
                                text-align: left;
                            }
                        }
                    }
                }

                .services-cards-main {
                    .services-cards-container {
                        display: grid;
                        grid-template-columns: 1fr 1.5fr 1.5fr;
                        justify-content: center;
                        padding: 50px 0px 0 50px;

                        .services-card {
                            .title {
                                h3 {
                                    font-family: 'Inter';
                                    font-size: 14.48px;
                                    font-weight: 600;
                                    line-height: 27px;
                                    color: #161616;
                                }
                            }

                            .services {
                                ul {
                                    list-style: none;
                                    margin-top: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 12px;

                                    li {
                                        a {
                                            text-decoration: none;
                                            font-family: 'Inter';
                                            display: flex;
                                            align-items: end;
                                            max-width: max-content;

                                            p {
                                                font-size: 14px;
                                                font-weight: 500;
                                                line-height: 20.88px;
                                                letter-spacing: -0.20999999344348907px;
                                                text-align: left;
                                                color: #161616;
                                                min-width: max-content;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    left: 0;
                                                    right: 0;
                                                    bottom: -5px;
                                                    height: 1px;
                                                    border-top: 1.5px solid #BD03F7;
                                                    position: absolute;
                                                    transform: scale(0, 1);
                                                    transition: all .3s ease;
                                                    transform-origin: left;
                                                }
                                            }

                                            span {
                                                background: #673DE6;
                                                padding: 3px 7px;
                                                border-radius: 5px;
                                                font-family: 'Inter';
                                                color: #fff;
                                                font-size: 11px;
                                                font-weight: 500;
                                                line-height: 18px;
                                                text-align: left;
                                                margin: 0 0 4px 7px;
                                            }

                                            &:hover {
                                                p {
                                                    &::before {
                                                        transform: scale(1, 1);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* Big Menu */
        .custom-bigmenu-main {
            position: fixed;
            width: 100%;
            min-height: 100vh;
            overflow: auto;
            background: #1E2124;
            inset: 0;
            transform: translateY(-110vh) scale(.7);
            transition: all .5s ease;
            display: none;
            padding: 50px;
            z-index: 9;

            &.show {
                display: block;
            }

            &.anim {
                transform: translateY(0) scale(1);
            }

            .custom-bigmenu-container {
                width: 100%;
                max-width: 1340px;
                margin: 0 auto;
                height: 100%;
            }
        }
    }
}